annotated-types==0.8.0
anyio==4.15.1
arviz==0.23.4
astropy==8.0.1
astropy-iers-data==0.2026.9.28.0.59.37
bibtexparser==2.0.1
blosc2==4.14.1
certifi==2026.7.22
charset-normalizer==3.5.2
contourpy==1.4.0
cycler==0.12.1
filelock==3.32.7
fonttools==4.66.1
h11==0.16.0
h2==4.4.1
h5netcdf==1.8.1
h5py==3.16.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.20
igwn-ligolw==2.1.1
igwn-segments==2.1.1
inflection==0.5.1
jax==0.6.0
jaxlib==0.6.0
juliacall==0.9.36
juliapkg==0.1.27
kiwisolver==1.5.1
lalsuite==7.26.4
llvmlite==0.50.0
lscsoft-glue==4.1.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
ml-dtypes==0.6.0
msgpack==1.2.3
multipledispatch==1.0.0
ndindex==1.10.1
numba==0.68.0
numexpr==2.14.2
numpy==2.2.6
numpyro==0.19.0
opt-einsum==3.4.0
packaging==26.3
pandas==2.3.3
parse==1.22.2
pillow==12.3.0
platformdirs==4.12.2
py-cpuinfo==9.0.0
pydantic==2.13.5
pydantic-core==2.46.5
pyerfa==2.0.1.5
pygments==2.21.0
pylatexenc==2.11
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.4
pyyaml==6.0.3
qnm==0.4.4
quaternionic==1.0.18
requests==2.34.2
rich==15.0.0
ringdown==1.1.0
ripplegw==0.0.9
scipy==1.15.3
seaborn==0.13.2
semver==3.1.0
setuptools==84.0.0
six==1.17.0
spherical==1.1.4
spinsfast==2022.4.11
sxs==2026.0.7
sxscatalog==3.0.30
tables==3.11.1
threadpoolctl==3.7.0
tomli==2.4.1
tomlkit==0.15.1
tqdm==4.70.1
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.4
urllib3==2.8.0
xarray==2026.9.0
xarray-einstats==0.11.0
